<div class="modal-header">
	<h4 class="modal-title">Modifier</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p>{{ data.date | date : "EEEE d MMMM y" }}</p>
	<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="form-group col-6">
				<label for="start">Début</label>
				<ngb-timepicker formControlName="start"></ngb-timepicker>
			</div>
			<div class="form-group col-6">
				<label for="end">Fin</label>
				<ngb-timepicker formControlName="end"></ngb-timepicker>
			</div>
		</div>
		<button [disabled]="this.myForm.invalid" type="submit" class="btn btn-warning mb-3">Modifier</button>
	</form>

	<div *ngIf="data.event.attendees">
		<p>{{ data.event.summary }}</p>
		<p>email : {{ data.event.attendees[0].email }}</p>
		<p>{{ data.event.description }}</p>
	</div>
	<button *ngIf="data.event.colorId === '5'" class="btn btn-success mt-3 mb-3" (click)="confirm(data.event.id, data.event)">Confirmer le rendez-vous</button>
	<br>
	<button class="btn btn-danger" (click)="deleteEvent(eventId)">Supprimer</button>


</div>
<div class="modal-footer">
	<button class="btn btn-danger" (click)="activeModal.dismiss()">
		Annuler
	</button>
</div>